$font-stack: Arial, Helvetica, sans-serif;

$primary-color: #003699;
$dark-color: #333333;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745;
$background-color: #fff;
$text-color: #333;
$card-border-color: #ccc;
